body{background-image:url(img/showcase.jpg);}

h1{
    font-family: "Roboto Mono", monospace ;
    text-align: auto;
    background-color: yellow;
    color: blue;
    border: 2px solid black;
    text-align:center;
}

.div{
    margin: 16px;
    padding: 12px;

    background-color: gray;
    border: 3px solid black;
}

h2{text-align: center;}

.ner{
    margin-left: 400px;
}